<nav class="navbar navbar-expand-md mb-4 navbar-light bg-white" *ngIf="isLoggedInUser">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="{{ 'logo' | translate }}">
    </a>
  
    <!-- Sandwich responsive button. -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarCollapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item-text">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><span class="fas fa-th-large"></span> <span class="nav-item-desc"> {{ 'dashboard' | translate }}</span></a>
        </li>
        <li class="nav-item nav-item-text">
          <a class="nav-link" routerLink="/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}"><span class="fas fa-exchange-alt"></span> <span class="nav-item-desc"> {{ 'transactions' | translate }}</span></a>
        </li>
        <li class="nav-item nav-item-text">
          <a class="nav-link" routerLink="/bills" routerLinkActive="active"><span class="far fa-folder-open"></span> <span class="nav-item-desc"> {{ 'bills' | translate }}</span></a>
        </li>
        <li class="nav-item nav-item-text">
          <a class="nav-link" routerLink="/overview" routerLinkActive="active"><span class="far fa-chart-bar"></span> <span class="nav-item-desc"> {{ 'overview' | translate }}</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item languages-item">
          <span *ngFor="let l of languages | keyvalue; let isLast = last;">
            <span class="languageKey" [ngClass]="{'active' : l.value == activeLanguage}" (click)="setLanguage(l.value)">{{ l.key }}</span>
            <span *ngIf="!isLast">|</span>
          </span>
        </li>
        <li class="nav-item dropdown nav-items-text">
          <div ngbDropdown class="d-inline-block" display="dynamic">
            <div class="nav-link cursor-pointer" id="userActions" ngbDropdownToggle> {{ isLoggedInUser.fullname }} </div>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userActions">
              <button class="dropdown-item" routerLink="/user">
                <span class="fas fa-user-alt mr-2"></span> {{ 'my.account' | translate }}
              </button>
              <button class="dropdown-item" routerLink="/settings" fragment="addresses">
                <span class="fas fa-cog mr-2"></span> {{ 'settings' | translate }}
              </button>
              <button class="dropdown-item" (click)="logout()">
                <span class="fas fa-power-off mr-2"></span> {{ 'logout' | translate }}
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  
  
  
  