<nav class="navbar navbar-expand-md mb-4 navbar-light bg-white">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      Finance Manager
    </a>
  
    <!-- Sandwich responsive button. -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarCollapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><span class="fas fa-th-large"></span> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}"><span class="fas fa-exchange-alt"></span> Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="far fa-folder-open"></span> Bills</a>
        </li>
      </ul>
    </div>
  </nav>
  
  
  
  
  