.navbar {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    padding: 1.2rem 1rem;
}

.navbar-brand {
    color: #4e73df;
    font-family: "Nunito-Bold";
    font-size: 1.5rem;
    padding-top: 0;
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}