<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">{{ 'bills' | translate }} ({{ collectionSize }})</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="container-fluid">
                    <div class="row mt-4">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="filterIsCollapsed = !filterIsCollapsed" [attr.aria-expanded]="!filterIsCollapsed" aria-controls="billsFilter">
                                <span class="fas fa-filter"></span>
                            </button>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary" routerLink="/bill"><span class="fas fa-plus"></span> {{ 'bill' | translate }}</button>
                        </div>
                    </div>
                    <div id="billsFilter" [ngbCollapse]="filterIsCollapsed">
                        <div class="row mt-3 pt-2 fm-bt-gray">
                            <div class="col-md-3 col-6">
                                <!-- Bill paid -->
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="type">{{ 'paid' | translate }}</label>
                                        <select class="form-control" id="type" name="type" [(ngModel)]="filter.paid">
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="false">{{ 'no' | translate }}</option>
                                            <option [ngValue]="true">{{ 'yes' | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <!-- Bill Category -->
                                <div class="form-group">
                                    <label for="billCategory">{{ 'category' | translate }}</label>
                                    <select class="form-control" id="billCategory" name="billCategory" [(ngModel)]="filter.billCategory" [compareWith]="utils.compareById">
                                        <option [ngValue]="null"></option>
                                        <option *ngFor="let billCategory of billCategories;" [ngValue]="billCategory">
                                            {{ billCategory.name | translate }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <div class="form-group">
                                    <label for="code">{{ 'code' | translate }}</label>
                                    <input class="form-control" id="code" name="code" [(ngModel)]="filter.code" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 col-6">
                                <label for="issueDateFrom">{{ 'issue.date.from' | translate }}</label>
                                <div class="input-group">
                                    <input class="form-control fm-datepicker-readonly" placeholder="DD/MM/YYYY" [value]="formatter.format(issueDateFrom)" id="issueDateFrom" name="issueDateFrom" ngbDatepicker #idf="ngbDatepicker" (dateSelect)="filter.issueDateFrom = utils.onDateSelection($event)"
                                        [readonly]="true" [(ngModel)]="issueDateFrom">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="idf.toggle()" type="button">
                                            <span class="far fa-calendar-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <label for="issueDateTo">{{ 'issue.date.to' | translate }}</label>
                                <div class="input-group">
                                    <input class="form-control fm-datepicker-readonly" placeholder="DD/MM/YYYY" [value]="formatter.format(issueDateTo)" id="issueDateTo" name="issueDateTo" ngbDatepicker #idt="ngbDatepicker" (dateSelect)="filter.issueDateTo = utils.onDateSelection($event)"
                                        [readonly]="true" [(ngModel)]="issueDateTo">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="idt.toggle()" type="button">
                                            <span class="far fa-calendar-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <label for="dueDateFrom">{{ 'due.date.from' | translate }}</label>
                                <div class="input-group">
                                    <input class="form-control fm-datepicker-readonly" placeholder="DD/MM/YYYY" [value]="formatter.format(dueDateFrom)" id="dueDateFrom" name="dueDateFrom" ngbDatepicker #ddf="ngbDatepicker" (dateSelect)="filter.dueDateFrom = utils.onDateSelection($event)"
                                        [readonly]="true" [(ngModel)]="dueDateFrom">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="ddf.toggle()" type="button">
                                            <span class="far fa-calendar-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <label for="dueDateTo">{{ 'due.date.to' | translate }}</label>
                                <div class="input-group">
                                    <input class="form-control fm-datepicker-readonly" placeholder="DD/MM/YYYY" [value]="formatter.format(dueDateTo)" id="dueDateTo" name="dueDateTo" ngbDatepicker #ddt="ngbDatepicker" (dateSelect)="filter.dueDateTo = utils.onDateSelection($event)" [readonly]="true"
                                        [(ngModel)]="dueDateTo">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="ddt.toggle()" type="button">
                                            <span class="far fa-calendar-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <div class="form-group">
                                    <label for="amountFrom">{{ 'amount.from' | translate }}</label>
                                    <input class="form-control" id="amountFrom" name="amountFrom" [ngModel]="filter.amountFrom | number:'1.2-2'" (change)="utils.setTwoNumberDecimal($event.target.value)" (ngModelChange)="filter.amountFrom=$event" [ngModelOptions]="{updateOn: 'blur'}" />
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="form-group">
                                    <label for="amountTo">{{ 'amount.to' | translate }}</label>
                                    <input class="form-control" id="amountTo" name="amountTo" [ngModel]="filter.amountTo | number:'1.2-2'" (change)="utils.setTwoNumberDecimal($event.target.value)" (ngModelChange)="filter.amountTo=$event" [ngModelOptions]="{updateOn: 'blur'}" />
                                </div>
                            </div>
                            <div class="col-md-6 col-12 text-right">
                                <button class="btn btn-secondary" (click)="clearFilter()">{{ 'clear.filter' | translate }}</button>
                                <button class="btn btn-primary ml-2" (click)="search()">{{ 'search' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption>{{ 'bills.table' | translate }}</caption>
                            <thead>
                                <tr>
                                    <th scope="col" [columnName]="'code'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'code' | translate }}</th>
                                    <th scope="col" [columnName]="'billCategoryName'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'category' | translate }}</th>
                                    <th scope="col" [columnName]="'paid'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'paid' | translate }}</th>
                                    <th scope="col" [columnName]="'description'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'description' | translate }}</th>
                                    <th scope="col" [columnName]="'issuedOn'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'issued.on' | translate }}</th>
                                    <th scope="col" [columnName]="'dueDate'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'due.date' | translate }}</th>
                                    <th scope="col" [columnName]="'amount'" [sort]="sort" sortable (ngModelChange)="getSort($event)">{{ 'amount' | translate }}</th>
                                    <th scope="col" class="t-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of bills; index as i;">
                                    <td> {{ b.code }}</td>
                                    <td> {{ b.billCategory.name | translate }}</td>
                                    <td>
                                        <span *ngIf="!b.paid && utils.dateIfBeforeToday(b.dueDate);" class="fas fa-exclamation-triangle text-danger" ngbTooltip="{{ 'expired' | translate }}"></span>
                                        <span class="fas fa-check" *ngIf="b.paid"></span>
                                    </td>
                                    <td> {{ b.description }}</td>
                                    <td> {{ b.issuedOn | date:'dd/MM/yyyy' }}</td>
                                    <td [ngClass]="{'text-danger': !b.paid && utils.dateIfBeforeToday(b.dueDate)}"> {{ b.dueDate | date:'dd/MM/yyyy' }}</td>
                                    <td>
                                        {{ b.amount | currency:'EUR' }}
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-sm btn-primary btn-square" routerLink="/bill/{{ b.id }}" *ngIf="!b.enableDelete" ngbTooltip="{{ 'show' | translate }}">
                                            <span class="fas fa-search"></span>
                                        </button>
                                        <button class="btn btn-sm btn-danger btn-square ml-2" (click)="b.enableDelete=true" *ngIf="!b.enableDelete" ngbTooltip="{{ 'delete' | translate }}">
                                            <span class="fas fa-trash"></span>
                                        </button>

                                        <button class="btn btn-sm btn-success btn-square ml-2" *ngIf="b.enableDelete" (click)="delete(b.id)" ngbTooltip="{{ 'yes' | translate }}">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button class="btn btn-sm btn-secondary btn-square ml-2" *ngIf="b.enableDelete" (click)="b.enableDelete=false" ngbTooltip="{{ 'no' | translate }}">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row  mt-5">
                        <div class="col-md-3 col-12 items-per-page-container">
                            <div class="d-inline-block mr-2">{{ 'items' | translate }}:</div>
                            <select class="form-control d-inline-block items-per-page" [(ngModel)]="size" (change)="findAll()">
                                <option *ngFor="let item of itemsPerPage;">{{ item }}</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="d-flex justify-content-center" *ngIf="bills.length > 0">
                                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="size" [maxSize]="maxSize" (pageChange)="findAll()"></ngb-pagination>
                            </div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>