<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">{{ 'bills' | translate }} ({{ collectionSize }})</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-6">

                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-primary" routerLink="/bill"><span class="fas fa-plus"></span> {{ 'bill' | translate }}</button>
                    </div>
                </div>
            </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" [columnName]="'billCategory'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'category' | translate }}</th>
                                    <th scope="col" [columnName]="'paid'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'paid' | translate }}</th>
                                    <th scope="col" [columnName]="'description'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'description' | translate }}</th>
                                    <th scope="col" [columnName]="'amount'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'amount' | translate }}</th>
                                    <th scope="col" [columnName]="'issuedOn'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'issued.on' | translate }}</th>
                                    <th scope="col" [columnName]="'dueDate'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'due.date' | translate }}</th>
                                    <th scope="col" class="t-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of bills; index as i;">
                                    <td> {{ b.billCategory.name | translate }}</td>
                                    <td> 
                                        <span class="fas fa-check" *ngIf="b.paid"></span>
                                    </td>
                                    <td> {{ b.description }}</td>
                                    <td>
                                        {{ b.amount | currency:'EUR' }}
                                    </td>
                                    <td> {{ b.issuedOn | date:'dd/MM/yyyy' }}</td>
                                    <td> {{ b.dueDate | date:'dd/MM/yyyy' }}</td>
                                    <td class="text-right">
                                        <button class="btn btn-sm btn-primary btn-square" routerLink="/bill/{{ b.id }}" *ngIf="!b.enableDelete" ngbTooltip="{{ 'show' | translate }}">
                                            <span class="fas fa-search"></span>
                                        </button>
                                        <button class="btn btn-sm btn-danger btn-square ml-2" (click)="b.enableDelete=true" *ngIf="!b.enableDelete" ngbTooltip="{{ 'delete' | translate }}">
                                            <span class="fas fa-trash"></span>
                                        </button>

                                        <button class="btn btn-sm btn-success btn-square ml-2" *ngIf="b.enableDelete" (click)="delete(b.id)" ngbTooltip="{{ 'yes' | translate }}">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button class="btn btn-sm btn-secondary btn-square ml-2" *ngIf="b.enableDelete" (click)="b.enableDelete=false" ngbTooltip="{{ 'no' | translate }}">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row  mt-5">
                        <div class="col-md-3 col-12 items-per-page-container">
                            <div class="d-inline-block mr-2">{{ 'items' | translate }}:</div> 
                            <select class="form-control d-inline-block items-per-page" [(ngModel)]="size" (change)="findAll()">
                                <option *ngFor="let item of itemsPerPage;">{{ item }}</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="d-flex justify-content-center" *ngIf="bills.length > 0">
                                <ngb-pagination
                                [collectionSize]="collectionSize"
                                [(page)]="page"
                                [pageSize]="size"
                                (pageChange)="findAll()"></ngb-pagination>
                            </div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>