<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">Transactions</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Monthly Overview</h6>
                    <div class="dropdown no-arrow">
                        <div ngbDropdown class="d-inline-block">
                            <a class="cursor-pointer" id="dropdownBasic1" ngbDropdownToggle>
                                <span class="fas fa-ellipsis-v fa-sm fa-fw text-lightgray"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="dropdown-header">Dropdown Header:</div>
                              <button ngbDropdownItem>Action - 1</button>
                              <button ngbDropdownItem>Another Action</button>
                              <button ngbDropdownItem>Something else is here</button>
                            </div>
                          </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                </div>
            </div>
        </div>

    </div>
</div>