.fm-dot {
    height: 20px;
    width: 20px;
    background: #1cc88a;
    border-radius: 50%;
    border: 3px solid #d1d3e2 !important;
}

.fm-income-dot {
    background: #1cc88a;
}

.fm-expense-dot {
    background: #e74a3b;
}

.t-actions {
    width: 8rem;
    min-width: 8rem;
}

.t-type {
    width: 5rem;
}

.items-per-page {
    width: 6rem;
}

@media only screen and (max-width: 780px) {
    .items-per-page-container {
        text-align: center;
        padding: 20px 0px;
    }
  }