<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">{{ 'transactions' | translate }} ({{ collectionSize }})</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-6">

                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-primary" routerLink="/transaction"><span class="fas fa-plus"></span> {{ 'transaction' | translate }}</button>
                    </div>
                </div>
            </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption>{{ 'transactions.table' | translate }}</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="t-type">{{ 'type' | translate }}</th>
                                    <th scope="col" [columnName]="'category'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'category' | translate }}</th>
                                    <th scope="col" [columnName]="'description'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'description' | translate }}</th>
                                    <th scope="col" [columnName]="'amount'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'amount' | translate }}</th>
                                    <th scope="col" [columnName]="'date'" [active]="sort.name" sortable (ngModelChange)="getSort($event)">{{ 'date' | translate }}</th>
                                    <th scope="col" class="t-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let t of transactions; index as i;">
                                    <td>
                                        <div class="fm-dot fm-income-dot" *ngIf="!t.type" ngbTooltip="{{ 'income' | translate }}"></div>
                                        <div class="fm-dot fm-expense-dot" *ngIf="t.type" ngbTooltip="{{ 'expense' | translate }}"></div>
                                    </td>
                                    <td> {{ t.category.name | translate }}</td>
                                    <td> {{ t.description }}</td>
                                    <td>
                                        {{ t.amount | currency:'EUR' }}
                                    </td>
                                    <td> {{ t.date | date:'dd/MM/yyyy' }}</td>
                                    <td class="text-right">
                                        <button class="btn btn-sm btn-primary btn-square" routerLink="/transaction/{{ t.id }}" *ngIf="!t.enableDelete" ngbTooltip="{{ 'show' | translate }}">
                                            <span class="fas fa-search"></span>
                                        </button>
                                        <button class="btn btn-sm btn-danger btn-square ml-2" (click)="t.enableDelete=true" *ngIf="!t.enableDelete" ngbTooltip="{{ 'delete' | translate }}">
                                            <span class="fas fa-trash"></span>
                                        </button>

                                        <button class="btn btn-sm btn-success btn-square ml-2" *ngIf="t.enableDelete" (click)="delete(t.id)" ngbTooltip="{{ 'yes' | translate }}">
                                            <span class="fas fa-check"></span>
                                        </button>
                                        <button class="btn btn-sm btn-secondary btn-square ml-2" *ngIf="t.enableDelete" (click)="t.enableDelete=false" ngbTooltip="{{ 'no' | translate }}">
                                            <span class="fas fa-times"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row  mt-5">
                        <div class="col-md-3 col-12 items-per-page-container">
                            <div class="d-inline-block mr-2">{{ 'items' | translate }}:</div> 
                            <select class="form-control d-inline-block items-per-page" [(ngModel)]="size" (change)="findAll()">
                                <option *ngFor="let item of itemsPerPage;">{{ item }}</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="d-flex justify-content-center" *ngIf="transactions.length > 0">
                                <ngb-pagination
                                [collectionSize]="collectionSize"
                                [(page)]="page"
                                [pageSize]="size"
                                (pageChange)="findAll()"></ngb-pagination>
                            </div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>