<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">{{ 'overview' | translate }}</h1>
    </div>

    <div class="row">
        <div class="col-12">
            {{ 'select.date.monthly' | translate }}
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-5 col-md-3">
            <div class="form-group">
                <select class="form-control" id="monthOverviewMonth" name="monthOverviewMonth" [(ngModel)]="monthOverview.month">
                    <option *ngFor="let m of months; let i = index;" [value]="i">
                        {{ m | translate }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-5 col-md-3 pl-1">
            <div class="form-group">
                <select class="form-control" id="monthOverviewYear" name="monthOverviewYear" [(ngModel)]="monthOverview.year">
                    <option *ngFor="let y of years" [value]="y">
                        {{ y }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-2 pl-1">
            <button class="btn btn-primary" (click)="searchMonthly()"><span class="fas fa-search"></span></button>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'monthly.overview' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-line-chart [title]="lineChartTitle" [lineChartData]="lineChartData"></app-line-chart>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'expenditure.sources' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-pie-chart [title]="pieChartTitle" [pieChartData]="pieChartData"></app-pie-chart>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ 'select.date.annual' | translate }}
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-5 col-md-3 pl-1">
            <div class="form-group">
                <select class="form-control" id="annualOverviewYear" name="annualOverviewYear" [(ngModel)]="annualOverview">
                    <option *ngFor="let y of years" [value]="y">
                        {{ y }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-2 pl-1">
            <button class="btn btn-primary" (click)="searchAnnually()"><span class="fas fa-search"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'annual.overview' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-stacked-bar-chart [title]="stackedBarChartTitle" [stackedBarChartData]="stackedBarChartData"></app-stacked-bar-chart>
                </div>
            </div>
        </div>
    </div>
</div>