<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <div class="row w-100">
            <div class="col-md-6 col-8">
                <h4 class="h4 mb-0 text-gray">{{ 'addresses' | translate }}</h4>
            </div>
            <div class="col-md-6 col-4 text-right">
                <button class="btn btn-primary" (click)="addAddress()"><span class="fas fa-plus"></span> <span class="address-add-text">{{ 'address' | translate }}</span></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>{{ 'address.table' | translate }}</caption>
                    <thead>
                        <tr>
                            <th scope="col">{{ 'description' | translate }}</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of addresses; index as i;">
                            <td>
                                <app-address-item [address]="a" (updateAddresses)="findAll()"></app-address-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>