<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>{{ 'address.table' | translate }}</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="th-text-container">{{ 'description' | translate }}</div>
                                <button class="btn btn-primary float-right" (click)="addAddress()"><span class="fas fa-plus"></span> {{ 'address' | translate }}</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of addresses; index as i;">
                            <td>
                                <app-address-item [address]="a" (updateAddresses)="findAll()"></app-address-item>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>