html, body {
	height: 100%;
}

body {
    font-size: 1rem;
    background-color: #f8f9fc;
    line-height: 1.5;
    color: #858796;
    font-weight: 400;
    font-family: "Nunito-Regular", sans-serif;
}

textarea {
  resize: none;
}

label {
  font-family: "Nunito-SemiBold", sans-serif;
}

.form-footer {
  margin: 1rem 0;
}

.text-gray {
  color: #5a5c69;
}

.text-xs {
  font-size: .7rem;
}

.text-primary {
  color: #4e73df !important;
}

.text-danger {
  color: #e74a3b;
}

.text-warning {
  color: #f6c23e;
}

.text-success {
  color: #1cc88a;
}

.text-lightgray {
  color: #dddfeb;
}

.bl-primary {
  border-left: .25rem solid #4e73df;
}

.bl-danger {
  border-left: .25rem solid #e74a3b;
}

.bl-warning {
  border-left: .25rem solid #f6c23e;
}

.bl-success {
  border-left: .25rem solid #1cc88a;
}

.card-header {
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.no-arrow .dropdown-toggle::after {
  display:none;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-header {
  font-weight: 800;
  font-size: .65rem;
  color: #b7b9cc;
  text-transform: uppercase;
}

.dropdown-item {
  font-size: .85rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #4e73df;
  background-color: #4e73df;
}

.fm-datepicker-readonly:not([disabled]) {
  background-color: #fff !important;
}

/** Bootstrap buttons **/
.btn-min-width {
  min-width: 5rem;
}

.btn-outline-secondary {
  border-color: #ced4da;
}

.btn-primary {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  background-color: #2e59d9 !important;
  border-color: #2653d4 !important;
}

.btn-secondary {
  color: #fff;
  background-color: #858796;
  border-color: #858796;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  color: #fff;
  background-color: #717384 !important;
  border-color: #6b6d7d !important;
}

.btn-square {
  min-width: 32px;
}

/** Bootstrap pagination **/
.page-item.active .page-link {
  background-color: #2e59d9;
  border-color: #2e59d9;
}

/** Table Sort Directive CSS **/
[sortable]:hover {
    cursor: pointer;
}

[sortable].asc::after {
    content: '\f0de';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin-left: 5px;
}

[sortable].desc::after {
    content: '\f0dd';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    margin-left: 5px;
}

/** Tables **/
.t-actions {
  width: 8rem;
  min-width: 8rem;
}

.items-per-page {
  width: 6rem;
}

@media only screen and (max-width: 780px) {
  .items-per-page-container {
      text-align: center;
      padding: 20px 0px;
  }
}

/** Fonts **/
@font-face {
    font-family: Nunito-Black;
    src: url(assets/fonts/nunito/Nunito-Black.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-BlackItalic;
    src: url(assets/fonts/nunito/Nunito-BlackItalic.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-Bold;
    src: url(assets/fonts/nunito/Nunito-Bold.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-BoldItalic;
    src: url(assets/fonts/nunito/Nunito-BoldItalic.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-ExtraBold;
    src: url(assets/fonts/nunito/Nunito-ExtraBold.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-ExtraBoldItalic;
    src: url(assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-ExtraLight;
    src: url(assets/fonts/nunito/Nunito-ExtraLight.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-ExtraLightItalic;
    src: url(assets/fonts/nunito/Nunito-ExtraLightItalic.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-Italic;
    src: url(assets/fonts/nunito/Nunito-Italic.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-Light;
    src: url(assets/fonts/nunito/Nunito-Light.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-LightItalic;
    src: url(assets/fonts/nunito/Nunito-LightItalic.ttf) format("opentype");
  }
  
  @font-face {
    font-family: Nunito-Regular;
    src: url(assets/fonts/nunito/Nunito-Regular.ttf) format("opentype");
  }

  @font-face {
    font-family: Nunito-SemiBold;
    src: url(assets/fonts/nunito/Nunito-SemiBold.ttf) format("opentype");
  }

  @font-face {
    font-family: Nunito-SemiBoldItalic;
    src: url(assets/fonts/nunito/Nunito-SemiBoldItalic.ttf) format("opentype");
  }