<div ngbDropdown class="d-inline-block notifications-dd" display="dynamic">
    <div class="nav-link cursor-pointer" id="notifications" ngbDropdownToggle>
        <span class="far fa-bell bell-icon"></span>
        <span class='badge badge-warning notification-count' *ngIf="newNotifications > 0"> {{ newNotifications }} </span>
    </div>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="notifications">
        <div class="dropdown-item" *ngFor="let n of notifications">
            <div class="container">
                <div class="row" (mouseleave)="markAsSeen(n)" [routerLink]="n.url ? [n.url] : []" [ngClass]="{'cursor-pointer': n.url}">
                    <div class="col-2 my-auto notification-icon">
                        <span class="{{n.icon}}"></span>
                    </div>
                    <div class="col-8">
                        <div innerHtml="{{ n.description | translate:n.parameters }}"></div>
                        <div class="notification-time text-primary">{{ n.createdOn | timeAgo }}</div>
                    </div>
                    <div class="col-2 my-auto">
                        <div *ngIf="!n.seen" class="fm-dot fm-info-dot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-item" *ngIf="notifications.length === 0">
            <div class="no-notifications text-center text-gray">
                <div class="title font-weight-bold">{{ 'notifications.nothing.new' | translate }}</div>
                <div>{{ 'notifications.you.will.see.them.here' | translate }}</div>
            </div>
        </div>
    </div>
</div>