<div class="container-fluid"> 
    <div class="row justify-content-center">
        
        <div class="col-lg-4 col-md-7 col-12">
            <div class="container-fluid">
                
                <!-- Logo -->
                <div class="row">
                    <div class="col-12 fm-logo text-center">
                        <img src="assets/images/logo.png">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-4 register-card">
                            <!-- Card Body -->
                            <div class="card-body">

                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray">{{ 'register' | translate }}</h1>
                                </div>

                                <form #rForm="ngForm" (ngSubmit)="onSubmit(rForm)">
                                    <div class="row">
                                        <!-- First name -->
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label for="firstName">{{ 'firstName' | translate }}</label>
                                                <input class="form-control" id="firstName" name="firstName" [(ngModel)]="register.firstName" 
                                                required #fn="ngModel"/>
                                                <div class="help-block text-danger" *ngIf="!fn.valid && fn.dirty">{{ 'must not be blank' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.firstName" [innerHTML]="errors.firstName | translate"></div>
                                            </div>
                                        </div>
                                        <!-- Last name -->
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label for="lastName">{{ 'lastName' | translate }}</label>
                                                <input class="form-control" id="lastName" name="lastName" [(ngModel)]="register.lastName" 
                                                required #ln="ngModel"/>
                                                <div class="help-block text-danger" *ngIf="!ln.valid && ln.dirty">{{ 'must not be blank' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.lastName" [innerHTML]="errors.lastName | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Username -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="username">{{ 'username' | translate }}</label>
                                                <input class="form-control" id="username" name="username" [(ngModel)]="register.username" 
                                                required #u="ngModel"/>
                                                <div class="help-block text-danger" *ngIf="!u.valid && u.dirty">{{ 'must not be blank' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.username" [innerHTML]="errors.username | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Email -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="username">{{ 'email' | translate }}</label>
                                                <input class="form-control" id="email" name="email" [(ngModel)]="register.email" 
                                                required #e="ngModel"/>
                                                <div class="help-block text-danger" *ngIf="!e.valid && e.dirty">{{ 'must not be blank' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.email" [innerHTML]="errors.email | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Password -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="password">{{ 'password' | translate }}</label>
                                                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="register.password"
                                                required #p="ngModel"/>
                                                <div class="help-block text-danger" *ngIf="!p.valid && p.dirty">{{ 'error.enter.password' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.password" [innerHTML]="errors.password | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Confirm Password -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="confirmPassword">{{ 'confirm.password' | translate }}</label>
                                                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="register.confirmPassword"
                                                required #c="ngModel"/>
                                                <div class="help-block text-danger" *ngIf="!c.valid && c.dirty">{{ 'error.enter.confirm.password' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.password" [innerHTML]="errors.password | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Form footer -->
                                    <div class="row form-footer">
                                        <div class="col-12 pr-0 text-right">
                                            <button class="btn btn-secondary btn-min-width" routerLink="/login" type="button">{{ 'back' | translate }}</button>
                                            <button class="btn btn-primary btn-min-width ml-2" type="submit">{{ 'create' | translate }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>