<div class="card bl-{{type}} shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-{{type}} text-uppercase mb-1">
                    {{ heading | translate }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray" *ngIf="amount !== null">{{ amount | number:'1.2-2' }} €</div>
                <div *ngIf="amount === null"><span class="fas fa-spinner fa-spin" ></span></div>
            </div>
            <div class="col-auto">
                <span class="fas fa-2x text-lightgray {{icon}}"></span>
            </div>
        </div>
    </div>
</div>