<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">{{ 'dashboard' | translate }}</h1>
    </div>

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bl-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{ 'balance' | translate }} ({{ 'annual' | translate }})</div>
                            <div class="h5 mb-0 font-weight-bold text-gray" *ngIf="balance !== null">€ {{ balance | number:'1.2-2' }}</div>
                            <div *ngIf="balance === null"><span class="fas fa-spinner fa-spin" ></span></div>
                        </div>
                        <div class="col-auto">
                            <span class="fas fa-balance-scale fa-2x text-lightgray"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bl-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                {{ 'earnings' | translate }} ({{ 'monthly' | translate }})</div>
                            <div class="h5 mb-0 font-weight-bold text-gray" *ngIf="earnings !== null">€ {{ earnings | number:'1.2-2' }}</div>
                            <div *ngIf="earnings  === null"><span class="fas fa-spinner fa-spin" ></span></div>
                        </div>
                        <div class="col-auto">
                            <span class="fas fa-calendar fa-2x text-lightgray"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bl-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                {{ 'pending' | translate }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray" *ngIf="pending !== null">€ {{ pending | number:'1.2-2' }}</div>
                            <div *ngIf="pending === null"><span class="fas fa-spinner fa-spin" ></span></div>
                        </div>
                        <div class="col-auto">
                            <span class="fas fa-calendar fa-2x text-lightgray"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bl-danger shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                {{ 'spendings' | translate }} ({{ 'monthly' | translate }})</div>
                            <div class="h5 mb-0 font-weight-bold text-gray" *ngIf="spendings !== null">€ {{ spendings | number:'1.2-2' }}</div>
                            <div *ngIf="spendings === null"><span class="fas fa-spinner fa-spin" ></span></div>
                        </div>
                        <div class="col-auto">
                            <span class="fas fa-calendar fa-2x text-lightgray"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'monthly.overview' | translate }}</h6>
                    <div class="dropdown no-arrow">
                        <div ngbDropdown class="d-inline-block">
                            <a class="cursor-pointer" id="dropdownBasic1" ngbDropdownToggle>
                                <span class="fas fa-ellipsis-v fa-sm fa-fw text-lightgray"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="dropdown-header">Dropdown Header:</div>
                              <button ngbDropdownItem>Action - 1</button>
                              <button ngbDropdownItem>Another Action</button>
                              <button ngbDropdownItem>Something else is here</button>
                            </div>
                          </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-line-chart [title]="lineChartTitle" [lineChartData]="lineChartData"></app-line-chart>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'expenditure.sources' | translate }}</h6>
                    <div class="dropdown no-arrow">
                        <div ngbDropdown class="d-inline-block">
                            <a class="cursor-pointer" id="dropdownBasic1" ngbDropdownToggle>
                                <span class="fas fa-ellipsis-v fa-sm fa-fw text-lightgray"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="dropdown-header">Dropdown Header:</div>
                              <button ngbDropdownItem>Action - 1</button>
                              <button ngbDropdownItem>Another Action</button>
                              <button ngbDropdownItem>Something else is here</button>
                            </div>
                          </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-pie-chart [title]="pieChartTitle" [pieChartData]="pieChartData"></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'bills.expire.soon' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-bills-expire-soon (billPaid)="init()"></app-bills-expire-soon>
                </div>
            </div>
        </div>
    </div>
</div>