<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">{{ 'dashboard' | translate }}</h1>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <app-amount-card type="primary" [amount]="balance" icon="fa-balance-scale" heading="annual.balance"></app-amount-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <app-amount-card type="success" [amount]="earnings" icon="fa-calendar" heading="monthly.earnings"></app-amount-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <app-amount-card type="warning" [amount]="pending" icon="fa-calendar" heading="pending"></app-amount-card>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <app-amount-card type="danger" [amount]="spendings" icon="fa-calendar" heading="monthly.spendings"></app-amount-card>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'monthly.overview' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-line-chart [title]="lineChartTitle" [lineChartData]="lineChartData"></app-line-chart>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 mb-4">
            <div class="card shadow h-100">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'expenditure.sources' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-pie-chart [title]="pieChartTitle" [pieChartData]="pieChartData"></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'bills.expire.soon' | translate }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <app-bills-expire-soon (billPaid)="init()"></app-bills-expire-soon>
                </div>
            </div>
        </div>
    </div>
</div>