<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-lg-4 col-md-8 col-12">
            <div class="container-fluid">

                <!-- Logo -->
                <div class="row">
                    <div class="col-12 fm-logo text-center">
                        <img src="assets/images/logo.png" alt="{{ 'logo' | translate }}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-4 reset-password-card">
                            <!-- Card Body -->
                            <div class="card-body">

                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray">{{ 'reset.password.title' | translate }}</h1>
                                </div>

                                <form #rpForm="ngForm" (ngSubmit)="onSubmit(rpForm)">

                                    <div class="row">
                                        <!-- Password -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="password">{{ 'new.password' | translate }}</label>
                                                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="resetPassword.password" required #p="ngModel" />
                                                <div class="help-block text-danger" *ngIf="!p.valid && p.dirty">{{ 'error.enter.password' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.password" [innerHTML]="errors.password | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Confirm Password -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="confirmPassword">{{ 'confirm.new.password' | translate }}</label>
                                                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="resetPassword.confirmPassword" required #c="ngModel" />
                                                <div class="help-block text-danger" *ngIf="!c.valid && c.dirty">{{ 'error.enter.confirm.password' | translate }}</div>
                                                <div class="help-block text-danger" *ngIf="errors.password" [innerHTML]="errors.password | translate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Form footer -->
                                    <div class="row form-footer">
                                        <div class="col-12 pr-0 text-right">
                                            <button class="btn btn-primary btn-min-width ml-2" type="submit">{{ 'save' | translate }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>