<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray">
            <span *ngIf="id">{{ 'transaction' | translate }}</span>
            <span *ngIf="!id"> {{ 'new.transaction' | translate }}</span>
        </h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <form #tForm="ngForm" (ngSubmit)="onSubmit(tForm)">
                        <div class="row">
                            <!-- Transaction Type -->
                            <div class="col-12">
                                <div class="form-group">
                                    <div><label for="name">{{ 'type' | translate }}</label></div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="typeExpense" name="typeExpense" 
                                        [value]="true" [(ngModel)]="transaction.type" mdbInput [disabled]="!editMode">
                                        <label class="custom-control-label" for="typeExpense">{{ 'expense' | translate }}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="typeIncome" name="typeIncome" 
                                        [value]="false" [(ngModel)]="transaction.type" mdbInput [disabled]="!editMode">
                                        <label class="custom-control-label" for="typeIncome">{{ 'income' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Transaction Category -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="category">{{ 'category' | translate }}</label>
                                    <select class="form-control" id="category" name="category" [(ngModel)]="transaction.category"
                                    [compareWith]="utils.compareById" [disabled]="!editMode">
                                        <option *ngFor="let category of categories;" [ngValue]="category">
                                            {{ category.name | translate }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- Transaction Date -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="date">{{ 'date' | translate }}</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="DD/MM/YYYY" [value]="formatter.format(date)"
                                        id="date" name="date"  ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelection($event)" 
                                        [disabled]="!editMode" [readonly]="true" [ngClass]="{'fm-datepicker-readonly': editMode}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button" [disabled]="!editMode">
                                                <span class="far fa-calendar-alt"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Transaction Description -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="description">{{ 'description' | translate }}</label>
                                    <input class="form-control" id="description" name="description" [(ngModel)]="transaction.description" [disabled]="!editMode"/>
                                </div>
                            </div>
                            <!-- Transaction Amount -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="amount">{{ 'amount' | translate }}</label>
                                    <input class="form-control" id="amount" name="amount" [(ngModel)]="transaction.amount" [disabled]="!editMode"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Bill code linked to this transaction -->
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="bill-code">{{ 'bill.code' | translate }}</label>
                                    <input id="bill-code" type="text" class="form-control" 
                                    [(ngModel)]="bill" [ngbTypeahead]="search" name="bill" (change)="onBillChange()"
                                    [resultFormatter]="billSearchFormatter" [inputFormatter]="billInputFormatter" [disabled]="!editMode" (ngModelChange)="onModelBillChange()"/>
                                </div>
                            </div>
                            <!-- Bill description linked to this transaction -->
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label for="bill-description">{{ 'bill.description' | translate }}</label>
                                    <input id="bill-description" type="text" class="form-control" [(ngModel)]="bill.description" name="billCode" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Transaction Notes -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="notes">{{ 'notes' | translate }}</label>
                                    <textarea class="form-control" id="notes" name="notes" [(ngModel)]="transaction.notes" [disabled]="!editMode"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Form footer -->
                        <div class="row form-footer">
                            <div class="col-12 text-right pr-0">
                                <button class="btn btn-secondary btn-min-width" (click)="onCancel()" type="button">
                                    <span *ngIf="!editMode"> {{ 'cancel' | translate }} </span>
                                    <span *ngIf="editMode"> {{ 'abort' | translate }} </span>
                                </button>
                                <button class="btn btn-primary ml-2 btn-min-width" *ngIf="!editMode" (click)="editMode = true">{{ 'edit' | translate }}</button>
                                <button class="btn btn-primary ml-2 btn-min-width" *ngIf="editMode" type="submit">{{ 'save' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>